<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Задание 3</title>
  <link href="../css/styles.css" rel="stylesheet">
</head>

<body class="timer-body">
  <p><a href="../index.html">Вернуться к списку заданий</a></p>
  <h1 class="timer-heading">Конец курса GOIT FullStack</h1>
  <div class="timer" id="timer-1">
    <div class="field">
      <span class="value" data-value="days">??</span>
      <span class="label">Days</span>
    </div>

    <div class="field">
      <span class="value" data-value="hours">??</span>
      <span class="label">Hours</span>
    </div>

    <div class="field">
      <span class="value" data-value="mins">??</span>
      <span class="label">Minutes</span>
    </div>

    <div class="field">
      <span class="value" data-value="secs">??</span>
      <span class="label">Seconds</span>
    </div>
  </div>
  <script src="../js/task-3.js" type="module"></script>
</body>

</html>